body{
    font-family: arial;
    font-size: 16px;
    margin: 0;
    /* background: linear-gradient(to right bottom,#d13cff,#031f6a);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; */
    color: #000;
}
.voice-to-text{
    width: 600px;
    text-align: center;
    margin-left: 32%;
    margin-top: 20%;
}
#convert-text{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    resize: none;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}
h1{
    font-size: 50px;
    color: white;
}
button{
    padding: 12px 20px;
    background: #0ea4da;
    border: 0;
    border-radius: 5px;
}

/* bootstrap css done here */
.navbar .container-fluid .navbar-brand{
    color: red;
    font-size: 2rem;
    font-weight: bold;
}