body{
    font-family: arial;
    font-size: 16px;
    margin: 0;
    /* background: linear-gradient(to right bottom,#d13cff,#031f6a);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; */
    color: #000;
    
    

}

.form-check{
    margin-top: 8px;
    margin-left: 3px;
     
}
 
.voice-to-text{
    width: 600px;
    text-align: center;
    margin-left: 32%;
    margin-top: 10%;
    margin-bottom: 10%;
}
#convert_text{
    width: 650px;
    height: 300px;
    border-radius: 10px;
    resize: none;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}
.voice-to-text h1{
    font-size: 30px;
    color: red;
    font-weight: lighter;
     
     
}
textarea{
    font-style: italic;
    font-weight: bolder;
     
    color: #000;
}

#convert_text{
    border: 3px solid black;
}
 

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* button animation */
  .butto {
    margin-top: 70px;
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(50px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .butto:hover, .butto:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }
.fa-solid{
    height:20px;
    padding-right: 4px;
}
.page-head{
    margin-left: 25%;
    margin-top: 3%;
}
.page-head {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 3;
    letter-spacing: .15em;
    animation:
      typing 3.5s steps(40, end) infinite,
      blink-caret .90s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 58% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
  

/* bootstrap css done here */
.navbar .container-fluid .navbar-brand{
    color: red;
    font-size: 2rem;
    font-weight: bold;
}


